.popup__input {
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    width: 100%;
    padding: 0 0 13px;
    margin: 34px auto 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    
} 